__pycache__/
_Inline/
bin/
build/
data/
dist/
old_code/
pepmatch.egg-info/
jupyter_notebooks/
pepmatch/__pycache__
proteomes/*.pdb
proteomes/*.phr
proteomes/*.pin
proteomes/*.pot
proteomes/*.psq
proteomes/*.ptf
proteomes/*.pto
proteomes/*.pickle
benchmarking.xlsx
notes.txt
pepmatch.py
*.pyc
.DS_STORE
