.~*
*.db
*.pickle
*.pkl
*.pyc
*.so
.DS_Store
__pycache__/
_Inline/
benchmarking/methods/__pycache__
bin/
build/
data/
dist/
notebooks/
old_code/
pepmatch.egg-info/
pepmatch/__pycache__
proteomes/*.pdb
proteomes/*.phr
proteomes/*.pin
proteomes/*.pot
proteomes/*.psq
proteomes/*.ptf
proteomes/*.pto
proteomes/*.pickle
benchmarking.xlsx
notes.txt
pepmatch.py
test.csv

# keep test data
!pepmatch/tests/data/